{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/media/images/techeria_logo1.png">
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />


    <title>Techeria</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
    <!-- responsive style -->
    <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
    <!-- icon font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">





</head>

<body>
    <!-- Confirming connection to database
  <h4>Information for One Product (from database):</h4>
  <table>
      {% for p in product %}
      <tr>
          <td>Name: {{ p.name }}</td>
      </tr>
      <tr>
          <td>Price: {{ p.price }}</td>
      </tr>
      <tr>
          <td>Description: {{ p.description }}</td>
      </tr>
      <tr>
          <td>Category: {{ p.category }}</td>
      </tr>
      {% endfor %}
  </table> -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href=" {% static 'index.html' %} ">
                        <span>
                            <img src="/media/images/techeria_logo1.png" style="width: 100px; height: auto;" alt="Techeria">
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href=" {% static 'index.html' %} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'about' %} "> About </a>
                                </li> {% endcomment %}

                                {% comment %} <a class="nav-link" href=" {% static '' %} "> Categories </a> {% endcomment %} {% comment %}
                                <div class="dropdown">
                                    <botton class="dropbtn" href=" {% static '' %} "> Categories <i class="fa fa-caret-down"></i></button>
                                        <div class="dropdown-content">
                                            <li href="#">Link 1</li>
                                            <li href="#">Link 2</li>
                                            <li href="#">Link 3</li>
                                            <li href="#">Link 1</li>
                                            <li href="#">Link 2</li>
                                            <li href="#">Link 3</li>
                                        </div>
                                </div> {% endcomment %}
                                <li>
                                    <div class="dropdown">
                                        <button class="dropbtn">Categories</button>
                                        <div class="dropdown-content">
                                            <a href="#">Computers</a>
                                            <a href="#">Phones</a>
                                            <a href="#">Tablets/Ipads</a>
                                            <a href="#">Accessory</a>
                                            <a href="#">Chargers</a>
                                            <a href="#">TV</a>
                                            <a href="#">Speakers</a>
                                            <a href="#">Headsets</a>
                                        </div>
                                    </div>
                                </li>



                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'ourproducts' %} "> Our Products </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'watch' %} "> Returns/Orders </a>
                                </li>

                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'contact' %} ">Contact us</a>
                                </li> {% endcomment %}
                            </ul>
                            <form class="form-inline my-2 my-lg-0" action="/search">
                                <input name='q' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>

                            <div class="dropdown">
                                <button class="dropbtn"><i class="glyphicon glyphicon-user" style="font-size:25px"></i></button>
                                <div class="dropdown-content">
                                    <a href="{% url 'loginpage' %}">Login</a>
                                    <a href="{% url 'registration' %}">Sign Up</a>
                                </div>
                            </div>
                            <a href="{% url 'cart' %}">
                                <button class="btn"><i class="fa fa-shopping-cart" style="font-size:30px"></i></button>
                            </a>




                        </div>
                    </div>
                </nav>
            </div>

        </header>
        <!-- end header section -->
        <!-- shopping cart -->
        <br></br>
        <br></br>
        <div class="container alert alert-light">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-element">

                        <a style="float:left; margin:5px;font-size:large;" class="btn btn-light" href="{% url 'index' %}">&#x2190;Continue Shopping</a>

                        <br>
                        <br>
                        <table class="table">
                            <tr>
                                <th>
                                    <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                                </th>
                                <th>
                                    <h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5>
                                </th>
                                <th>
                                    <a style="float:right; margin:5px;font-size:large" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                                </th>
                            </tr>
                        </table>

                    </div>

                    <br>
                    <div class="box-element">
                        <div class="cart-row">
                            <div style="flex:2"></div>
                            <div style="flex:2"><strong>Item</strong></div>
                            <div style="flex:2"><strong>Description</strong></div>
                            <div style="flex:1"><strong>Price</strong></div>
                            <div style="flex:1"><strong>Quantity</strong></div>
                            <div style="flex:1"><strong>Total</strong></div>
                        </div>
                        {% for item in items %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{}"></div>
                            <div style="flex:2">
                                <p>{{item.product.name}}</p>
                            </div>
                            <div style="flex:1">
                                <p>${{item.product.price|floatformat:2}}</p>
                            </div>
                            <div style="flex:1">
                                <p class="quantity">{{item.quantity}}</p>
                                <div class="quantity">
                                    <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

                                    <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                                </div>
                            </div>
                            <div style="flex:1">
                                <p>${{item.get_total|floatformat:2}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            © 2020 All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
</body>

</html>