{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/media/images/techeria_logo1.png">
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  

  <title>Techeria</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
  <!-- responsive style -->
  <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
<!-- icon font awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  


  
  
  
</head>

<body>
  <!-- Confirming connection to database
  <h4>Information for One Product (from database):</h4>
  <table>
      {% for p in product %}
      <tr>
          <td>Name: {{ p.name }}</td>
      </tr>
      <tr>
          <td>Price: {{ p.price }}</td>
      </tr>
      <tr>
          <td>Description: {{ p.description }}</td>
      </tr>
      <tr>
          <td>Category: {{ p.category }}</td>
      </tr>
      {% endfor %}
  </table> -->
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href=" {% static 'index.html' %} ">
            <span>
              <img src="/media/images/techeria_logo1.png" style="width: 100px; height: auto;" alt="Techeria">
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href=" {% static 'index.html' %} ">Home <span class="sr-only">(current)</span></a>
                </li>
                {% comment %} <li class="nav-item">
                  <a class="nav-link" href=" {% url 'about' %} "> About </a>
                </li> {% endcomment %}
  
                  {% comment %} <a class="nav-link" href=" {% static '' %} "> Categories </a> {% endcomment %}
                  {% comment %} <div class="dropdown">
                   <botton class="dropbtn" href=" {% static '' %} "> Categories  <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <li href="#">Link 1</li>
                      <li href="#">Link 2</li>
                      <li href="#">Link 3</li>
                      <li href="#">Link 1</li>
                      <li href="#">Link 2</li>
                      <li href="#">Link 3</li>
                    </div>
                  </div> {% endcomment %}
                  <li>
                  <div class="dropdown">
                    <button class="dropbtn">Categories</button>
                    <div class="dropdown-content">
                      <a href="#">Computers</a>
                      <a href="#">Phones</a>
                      <a href="#">Tablets/Ipads</a>
                      <a href="#">Accessory</a>
                      <a href="#">Chargers</a>
                      <a href="#">TV</a>
                      <a href="#">Speakers</a>
                      <a href="#">Headsets</a>
                    </div>
                  </div>
                  </li>
                  
            

                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'product' %} "> Our Products </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'watch' %} "> Returns/Orders </a>
                </li>
                
                {% comment %} <li class="nav-item">
                  <a class="nav-link" href=" {% url 'contact' %} ">Contact us</a>
                </li> {% endcomment %}
              </ul>
              {% comment %} <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form> {% endcomment %}
              <form class="form-inline my-2 my-lg-0" action="/search">
                <input name='q' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>

              <div class = "dropdown" >
              <button class="dropbtn"><i class="glyphicon glyphicon-user" style="font-size:25px"></i></button>
              <div class="dropdown-content">
                  <a href="{% url 'loginpage' %}">Login</a>
                  <a href="{% url 'registration' %}">Sign Up</a>
                </div>
              </div>
              
              <a href="{% url 'cart' %}">
                 <button class="btn"><i class="fa fa-shopping-cart" style="font-size:30px"></i></button>
              </a>
              
             

              
              
            </div>
          </div>
        </nav>
      </div>
      
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src=" {% static 'images/lenovo13.jpg' %} " style="border: 5px solid #555" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Newest Technology
                          </h1>
                          <p>
                            Check out our collection of high technology products.
                          </p>
                          <div class="d-flex">
                            <a href=" {% static '' %} " class="slider-btn1 mr-3">
                              Read More
                            </a>
                            <a href=" {% static '' %} " class="slider-btn2">
                              Contact Us
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src=" {% static 'images/dell13.jpg' %} " style="border: 5px solid #555" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Newest Technology
                          </h1>
                          <p>
                            Check out our collection of high technology products.
                          </p>
                          <div class="d-flex">
                            <a href=" {% static '' %} " class="slider-btn1 mr-3">
                              Read More
                            </a>
                            <a href=" {% static '' %} " class="slider-btn2">
                              Contact Us
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="slider_img-box">
                        <div>
                          <img src=" {% static 'images/iphone12mini.jpg' %} " style="border: 5px solid #555" alt="" class="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="slider_item-detail">
                        <div>
                          <h1 class="">
                            Newest Technology
                          </h1>
                          <p>
                            Check out our collection of high technology products.
                          </p>
                          <div class="d-flex">
                            <a href=" {% static '' %} " class="slider-btn1 mr-3">
                              Read More
                            </a>
                            <a href=" {% static '' %} " class="slider-btn2">
                              Contact Us
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom_carousel-control">
          <a class="carousel-control-prev" href=" {% static '#carouselExampleControls' %} " role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href=" {% static '#carouselExampleControls' %} " role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  <div class="bg">

    <!-- about section -->
    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 offset-md-2">
            <div class="about_detail-box">
              <h3 class="custom_heading ">
                About our watch
              </h3>
              <p class="">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it
              </p>
              <div>
                <a href=" {% static '' %} ">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_img-box">
              <img src=" {% static 'images/about.png' %} " alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- brand section -->

    <section class="brand_section layout_padding2">
      <div class="container">
        <div class="brand_heading">
          <h3 class="custom_heading">
            Our watch brands
          </h3>
          <p class="font-weight-bold">
            It is a long established fact that a reader will be distracted by the readable content of a page
          </p>
        </div>
      </div>
      <div class="container-fluid brand_item-container">
        <div class="brand_item-box">
          <div class="brand_img-box  item-1">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 40 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-2">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 50 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-3">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 60 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-4">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 70 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
        <div class="brand_item-box">
          <div class="brand_img-box  item-5">
            <a href=" {% static '' %} ">
              View More
            </a>
          </div>
          <div class="brand_detail-box">
            <h5>
              $<span> 80 </span>
            </h5>
            <h6 class="">
              best watch
            </h6>
          </div>
        </div>
      </div>

    </section>


    <!-- end brand section -->

    <!-- why section -->
    <section class="why_section layout_padding">
      <div class="container">
        <h3 class="custom_heading">
          Why choose Us
        </h3>
        <p class="font-weight-bold">
          It is a long established fact that a reader will be distracted by the readable content of a page
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img_box">
              <img src=" {% static 'images/feature-1.png' %} " alt="">
            </div>
            <div class="detail_box">
              <h5>
                Fast Delivery
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src=" {% static 'images/feature-2.png' %} " alt="">
            </div>
            <div class="detail_box">
              <h5>
                Free Shiping
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src=" {% static 'images/feature-3.png' %} " alt="">
            </div>
            <div class="detail_box">
              <h5>
                Best Quality
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img_box">
              <img src=" {% static 'images/feature-4.png' %} " alt="">
            </div>
            <div class="detail_box">
              <h5>
                24x7 Customer support
              </h5>
              <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->
  </div>

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <h3 class="custom_heading">
        Testimonial
      </h3>
      <p class="font-weight-bold">
        It is a long established fact that a reader will be distracted by the readable content of a page
      </p>
    </div>
    <div class="container"></div>
    <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src=" {% static 'images/client.jpg' %} " alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src=" {% static 'images/client.jpg' %} " alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="detail_box">
                  <div class="img_box">
                    <img src=" {% static 'images/client.jpg' %} " alt="">
                  </div>
                  <div class="name_box">
                    <h5>
                      Sandy Den
                    </h5>
                    <h6>
                      Many Variations
                    </h6>
                  </div>
                </div>
                <div class="detail_text">
                  <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you
                    are going to use a passage of Lorem Ipsum, you need to beThere are many variations of passages
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href=" {% static '#carouselExample2Controls' %} " role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href=" {% static '#carouselExample2Controls' %} " role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>
  </section>


  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <h2 class="custom_heading text-center">
      NOW CONTACT US
    </h2>
    <div class="container mt-5 pt-5">
      <form action="">
        <div>
          <input type="text" placeholder="NAME">
        </div>
        <div>
          <input type="email" placeholder="EMAIL">
        </div>
        <div>
          <input type="text" placeholder="PHONE NUMBER">
        </div>
        <div>
          <input type="text" class="message-box" placeholder="MESSAGE">
        </div>
        <div class="d-flex justify-content-center mt-5 pt-5">
          <button>
            SEND
          </button>
        </div>
      </form>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_items">
        <a href=" {% static '' %} ">
          <div class="item ">
            <div class="img-box box-1">
              <img src=" {% static '' %} " alt="">
            </div>
            <div class="detail-box">
              <p>
                Lorem Ipsum is simply dummy text
              </p>
            </div>
          </div>
        </a>
        <a href=" {% static '' %} ">
          <div class="item ">
            <div class="img-box box-2">
              <img src=" {% static '' %} " alt="">
            </div>
            <div class="detail-box">
              <p>
                +02 1234567890
              </p>
            </div>
          </div>
        </a>
        <a href=" {% static '' %} ">
          <div class="item ">
            <div class="img-box box-3">
              <img src=" {% static '' %} " alt="">
            </div>
            <div class="detail-box">
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>



  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      © 2020 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
  <script type="text/javascript" src=" {% static 'js/bootstrap.js' %} "></script>
</body>

</html>

